@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&display=swap");

/* базовый шрифт проекта */
html,
body,
#root {
  font-family: "Roboto Condensed", "Roboto", system-ui, -apple-system, Segoe UI, Arial, sans-serif !important;
  font-weight: 500;
  color: #0f172a;
  background: #f6f7fb;
}

/* перебиваем wizard/graph2 глобально */
.g2-root,
.g2-root * {
  font-family: "Roboto Condensed", "Roboto", system-ui, -apple-system, Segoe UI, Arial, sans-serif !important;
  font-weight: 500;
  color: #0f172a;
}
